/*
Colors used

Background Color: #020f29 Black Blue
Text Color: #f3f1f2 Off White
Heading Color: #8fffe6 Light Blue
Button Color: #8fffe6 Midtone Blue
Contrast Colors:
    1. #981ee2 Purple
    2. #ff99ff Pink
    3. #4a81e5 Blue
    4. #1c2a47 Dark Blue
*/

/*
Add fixed element to header so when scrolling down the menu items scroll with page*/

:root {
    --bgblackblue: #020f29;
    --textColor: #f3f1f2;
    --headercolor: #8fffe6;
    --linkcolor: #4a81e5;
    --linkvisited: #ff99ff;
    --linkhover: #fff;
    --buttonbgcolor: #f3f1f2;
    --buttontextcolor: #357b70;
    --fontweight: 700;
}

body {
    background-color: var(--bgblackblue);
    color: var(--textColor);
    font-family: 'Mukta', sans-serif;
    font-weight: 400;
    font-size: 16px;
    /* Sets the font size to 16px*/
    line-height: 1.6;
    /*Sets the line-height to 1.6 */
}

h1 {
    font-size: 30px;
    font-weight: var(--fontweight);
    color: var(--headercolor);
}

h2 {
    font-size: 24px;
    font-weight: var(--fontweight);
    color: var(--headercolor);
}

h3 {
    font-size: 18px;
    font-weight: var(--fontweight);
    color: var(--headercolor);
}

a {
    color: var(--linkcolor);
}

a:visited {
    /* visited link */
    color: var(--linkvisited);
}

a:hover,
a:focus {
    /*Hover underlining when hovering over a link */
    text-decoration: none;
}

a:active {
    /* selected link*/
    color: var(--linkhover);
}

button {

    /* overwrites browser defaults and resets the border*/
    border: none;
    /*takes the font from the outer container*/
    font-family: inherit;
    /*styles the background color, font color, and text decoration (underline, etc.) of the button */
    background-color: var(--buttonbgcolor);
    color: var(--buttontextcolor);
    text-decoration: none;
    /*adds spacing to the button (this will be discussed more in-depth later) */
    padding: 10px;
    border-radius: 3px;
    /*gives the button a bottom border with a depth of 2px, a type of solid, and a color RGBA format */
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    /*a stands for alpha where 1 indicates complete opacity, while a value of 0 would indicate complete transparency*/
}

button:hover,
button:focus {
    cursor: pointer;
    opacity: 0.9;
}

.profile__portrait {
    float: left;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
}

.profile {
    max-width: 700px;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}


.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.page-header {
    display: flex;
    width: 100%;
    padding: 20px;
    justify-content: space-between;
}

.page-header__item {
    flex: 0 1 auto;
}

.navigation-list {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.navigation-list li {
    display: flex;
    margin-left: 15px;
}

.project-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.grid__item {
    background-color: var(--bgblackblue);
    color: var(--textColor);
}

/*
future note:
change background-color in .grid__item to #4a81e5
border-radius: 50%
make <h2> and <p> be inside the grid
for work.html
<div class="grid__item">
  <div class="this-is-the-added-div">
    <h2 class="work-table">Mobile Web App</h2>
    <p>
        Within this project, I was responsible fot the frontend. It's written in React.js. Additionally,
        I've created the HTML and CSS templates.
    </p>
    <a href="#">See project on Github</a>
  </div>
</div>
*/
.work-table {
    color: var(--headercolor);
}

@media all and (max-width: 500px) {
    .project-list {
        grid-template-columns: 1fr;
    }
}

@media all and (min-width: 500px) and (max-width: 750px) {
    .project-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 750px) {
    .project-list {
        grid-gap: 10px;
    }

    .grid__item:last-child {
        grid-column: auto/auto;
        grid-row: auto/auto;
    }

    h1 {
        font-size: var(--h1fontsize);
    }
}

button,
.button {
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: var(--buttonbgcolor);
    color: var(--textColor);
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    transition-duration: 0.2s;
    transition-property: opacity;
}

.puerto-rico {
    width: 350px;
    margin: 0 auto;
    text-align: center;
}

@keyframes cloud-1-move {
    from {
        transform: translate(0, 50px);
    }

    to {
        transform: translate(-200px, 50px);
    }
}

.cloud-1 {
    animation: 10s cloud-1-move infinite alternate linear;
}

@keyframes flag-change {
    from {
        fill: #5b7cc7;
    }

    to {
        fill: #00fff7;
    }
}

.flags {
    animation: 4s flag-change infinite alternate linear;
}

@keyframes sun-change {
    from {
        fill: #fbc46a;
    }

    to {
        fill: #fb9153;
    }
}

.sun {
    animation: 10s sun-change infinite alternate linear;
}

@keyframes cloud-2-move {
    from {
        transform: translate(-20px, 50px);
    }

    to {
        transform: translate(350px, 50px);
    }
}

.cloud-2 {
    animation: 10s cloud-2-move infinite alternate linear;
}

@keyframes cloud-3-move {
    from {
        transform: translate(-100px, 50px);
    }

    to {
        transform: translate(120px, 50px);
    }
}

.cloud-3 {
    animation: 10s cloud-3-move infinite alternate linear;
}

@keyframes background-change {
    from {
        fill: #e89fd4;
    }

    to {
        fill: #00fff7;
    }
}

.background-4 {
    animation: 10s background-change infinite alternate linear;
}